/* regole formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* common */
.container{
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}

li{
    display: inline-block;
}

.btn{
border-radius: 15px;
padding: 10px 15px;
border-style: none;
font-weight: bold;
}






/* sezione header */
nav{
    height: 70px;

}

nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}




.jumbotron{
    height: 600px;
}


/* sezione main */

/* prima sezione */
















/* sezione debug */

.debug nav{
    /* width: 100%; */
    background-color: blue;
}

.debug .jumbotron{
    background-color: chartreuse;
}

.debug section.box-section{
    height: 600px;
    background-color: red;
}